<ul>
  <% @docs.each do |doc| %>
    <li>
      <a href="/<%= doc %>"><%= doc %></a>
      <a href="/<%= doc %>/edit">edit</a>
      <form class="delete" action="/<%= doc %>/destroy" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<div class="footer">
  <a href="/new">New Document</a>
  <br>
  <br>
  <% if session[:username] %>
    <form class="signout" action="users/signout" method="post">
      <label for="signout">Signed in as <%= session[:username] %>.</label>
      <input type="submit" value="Sign Out">
    </form>
  <% end %>
</div>
